Repository AculaStation/AculaStation-Bee, pull requests merged in 2022-01, with the labels that each got.

#1 Customises the Readme, removes shitty ruin
  .github/SETUP.md
  .github/assets/AculaStationLogo-Normal.png
  .github/assets/AculaStationLogo-Normal_135px.png
  .github/assets/AculastationLogo-Admin.png
  README.md
  _maps/RandomRuins/SpaceRuins/gasthelizards.dmm
  code/datums/ruins/space.dm
  config/admins.txt
  config/spaceruinblacklist.txt
  icons/ss13_32.png
  icons/ss13_64.png
Labels: Config Update, GitHub, mapping

#3 Ups screensize to 21x15
  code/_onclick/hud/_defines.dm
  code/game/machinery/doors/airlock.dm
  code/world.dm
  config/config.txt
Labels: Config Update

#4 Bee >acula
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  code/_globalvars/configuration.dm
  code/game/machinery/computer/camera.dm
Labels: GitHub
